:root {
    color-scheme: dark;

    --btn-primary: rgb(70, 158, 193);
    --btn-secondary: rgb(52, 104, 146);
    --btn-border: rgb(91, 193, 233);
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.hero {
    padding: 1rem 0;
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;

    background-color: black;
}

a {

    text-decoration: underline;
    color: white;

    z-index: 1;
}

nav:hover {
    scale: 1.5;
    transition-duration: 200ms;
}

.hero>#logo {
    width: 30%;
    max-width: 200px;

}

.loaded {
    display: none;
}

.fact-container {
    padding: 0 5rem;
    text-align: center;
}

.fact {
    font-weight: 400;
    font-size: 1.4rem;
}

.others {
    /* background-color: rebeccapurple; */
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    padding-bottom: 2rem;
}

.text {
    color: gray;
}

.btn {
    background-color: var(--btn-primary);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: 3px solid var(--btn-border);
    box-shadow: -10px 10px 0px var(--btn-secondary);
    transition-duration: 200ms;
}

.btn:hover {
    transform: scale(1.1);

    transition-duration: 200ms;
    box-shadow: none;
    box-shadow: 0 0 30px var(--btn-secondary);
}

#chatbot {
    width: 100%;
    height: 99.5vh;
}

.animated {
    max-height: 0;
    scale: 0;
    opacity: 0;
    transform: translateY(2rem);
}

.appear {
    max-height: 100%;
    scale: 1;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}